PORT = port number

DB_USERNAME= db username
DB_PASSWORD= db password
DB_HOST=localhost
DB_DIALECT=mysql
DB_NAME= novaxcape

cloudinaryApiKey = cloudinary api key
cloudinaryApiSecret = cloudinary api secret
cloudName = cloud name

BREVO_API_KEY = brevo api key
BREVO_SENDER_EMAIL = brevo email
BREVO_SENDER_NAME = brevo name
SESSION_SECRET = google session secret
GOOGLE_CLIENT_ID = google oauth client id
GOOGLE_CLIENT_SECRET = google oauth client secret
GOOGLE_CALLBACK_URL = callback url for google oauth
SECERT_KEY = secret key for jwt
