PORT = port number

DB_USERNAME= db username
DB_PASSWORD= db password
DB_HOST=localhost
DB_DIALECT=mysql
DB_NAME= novaxcape

cloudinaryApiKey = cloudinary api key
cloudinaryApiSecret = cloudinary spi secret
cloudName = cloud name